WebApplication4/src/conf/xml-resources/web-service-references/MobileAppInfoService/wsdl/imob-dev.nttdata-emea.com_8103/WebService/MobileAppInfoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mobile.nttdata.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mobile.nttdata.at/" name="MobileAppInfoServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://mobile.nttdata.at/" schemaLocation="https://imob-dev.nttdata-emea.com:8103/WebService/MobileAppInfoService?xsd=1"/>
</xsd:schema>
</types>
<message name="getVehicleReservations">
<part name="parameters" element="tns:getVehicleReservations"/>
</message>
<message name="getVehicleReservationsResponse">
<part name="parameters" element="tns:getVehicleReservationsResponse"/>
</message>
<message name="getReservationAuthorizations">
<part name="parameters" element="tns:getReservationAuthorizations"/>
</message>
<message name="getReservationAuthorizationsResponse">
<part name="parameters" element="tns:getReservationAuthorizationsResponse"/>
</message>
<message name="getChargingStations">
<part name="parameters" element="tns:getChargingStations"/>
</message>
<message name="getChargingStationsResponse">
<part name="parameters" element="tns:getChargingStationsResponse"/>
</message>
<message name="getChargingServiceUrl">
<part name="parameters" element="tns:getChargingServiceUrl"/>
</message>
<message name="getChargingServiceUrlResponse">
<part name="parameters" element="tns:getChargingServiceUrlResponse"/>
</message>
<message name="getClusterMaxPower">
<part name="parameters" element="tns:getClusterMaxPower"/>
</message>
<message name="getClusterMaxPowerResponse">
<part name="parameters" element="tns:getClusterMaxPowerResponse"/>
</message>
<message name="getConnectorMaxPower">
<part name="parameters" element="tns:getConnectorMaxPower"/>
</message>
<message name="getConnectorMaxPowerResponse">
<part name="parameters" element="tns:getConnectorMaxPowerResponse"/>
</message>
<message name="getStationMaxPower">
<part name="parameters" element="tns:getStationMaxPower"/>
</message>
<message name="getStationMaxPowerResponse">
<part name="parameters" element="tns:getStationMaxPowerResponse"/>
</message>
<message name="getAvailableVehicles">
<part name="parameters" element="tns:getAvailableVehicles"/>
</message>
<message name="getAvailableVehiclesResponse">
<part name="parameters" element="tns:getAvailableVehiclesResponse"/>
</message>
<message name="getChargingStation">
<part name="parameters" element="tns:getChargingStation"/>
</message>
<message name="getChargingStationResponse">
<part name="parameters" element="tns:getChargingStationResponse"/>
</message>
<message name="getChargingStationsV2">
<part name="parameters" element="tns:getChargingStationsV2"/>
</message>
<message name="getChargingStationsV2Response">
<part name="parameters" element="tns:getChargingStationsV2Response"/>
</message>
<message name="getAllChargingServiceUrls">
<part name="parameters" element="tns:getAllChargingServiceUrls"/>
</message>
<message name="getAllChargingServiceUrlsResponse">
<part name="parameters" element="tns:getAllChargingServiceUrlsResponse"/>
</message>
<message name="getVehicleData">
<part name="parameters" element="tns:getVehicleData"/>
</message>
<message name="getVehicleDataResponse">
<part name="parameters" element="tns:getVehicleDataResponse"/>
</message>
<message name="getVehicleProviders">
<part name="parameters" element="tns:getVehicleProviders"/>
</message>
<message name="getVehicleProvidersResponse">
<part name="parameters" element="tns:getVehicleProvidersResponse"/>
</message>
<message name="getVehiclePools">
<part name="parameters" element="tns:getVehiclePools"/>
</message>
<message name="getVehiclePoolsResponse">
<part name="parameters" element="tns:getVehiclePoolsResponse"/>
</message>
<portType name="MobileAppInfoService">
<operation name="getVehicleReservations">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleReservationsRequest" message="tns:getVehicleReservations"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleReservationsResponse" message="tns:getVehicleReservationsResponse"/>
</operation>
<operation name="getReservationAuthorizations">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getReservationAuthorizationsRequest" message="tns:getReservationAuthorizations"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getReservationAuthorizationsResponse" message="tns:getReservationAuthorizationsResponse"/>
</operation>
<operation name="getChargingStations">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationsRequest" message="tns:getChargingStations"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationsResponse" message="tns:getChargingStationsResponse"/>
</operation>
<operation name="getChargingServiceUrl">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingServiceUrlRequest" message="tns:getChargingServiceUrl"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingServiceUrlResponse" message="tns:getChargingServiceUrlResponse"/>
</operation>
<operation name="getClusterMaxPower">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getClusterMaxPowerRequest" message="tns:getClusterMaxPower"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getClusterMaxPowerResponse" message="tns:getClusterMaxPowerResponse"/>
</operation>
<operation name="getConnectorMaxPower">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getConnectorMaxPowerRequest" message="tns:getConnectorMaxPower"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getConnectorMaxPowerResponse" message="tns:getConnectorMaxPowerResponse"/>
</operation>
<operation name="getStationMaxPower">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getStationMaxPowerRequest" message="tns:getStationMaxPower"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getStationMaxPowerResponse" message="tns:getStationMaxPowerResponse"/>
</operation>
<operation name="getAvailableVehicles">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getAvailableVehiclesRequest" message="tns:getAvailableVehicles"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getAvailableVehiclesResponse" message="tns:getAvailableVehiclesResponse"/>
</operation>
<operation name="getChargingStation">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationRequest" message="tns:getChargingStation"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationResponse" message="tns:getChargingStationResponse"/>
</operation>
<operation name="getChargingStationsV2">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationsV2Request" message="tns:getChargingStationsV2"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getChargingStationsV2Response" message="tns:getChargingStationsV2Response"/>
</operation>
<operation name="getAllChargingServiceUrls">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getAllChargingServiceUrlsRequest" message="tns:getAllChargingServiceUrls"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getAllChargingServiceUrlsResponse" message="tns:getAllChargingServiceUrlsResponse"/>
</operation>
<operation name="getVehicleData">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleDataRequest" message="tns:getVehicleData"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleDataResponse" message="tns:getVehicleDataResponse"/>
</operation>
<operation name="getVehicleProviders">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleProvidersRequest" message="tns:getVehicleProviders"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehicleProvidersResponse" message="tns:getVehicleProvidersResponse"/>
</operation>
<operation name="getVehiclePools">
<input wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehiclePoolsRequest" message="tns:getVehiclePools"/>
<output wsam:Action="http://mobile.nttdata.at/MobileAppInfoService/getVehiclePoolsResponse" message="tns:getVehiclePoolsResponse"/>
</operation>
</portType>
<binding name="MobileAppInfoServicePortBinding" type="tns:MobileAppInfoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVehicleReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationAuthorizations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChargingStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChargingServiceUrl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClusterMaxPower">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConnectorMaxPower">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStationMaxPower">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChargingStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChargingStationsV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllChargingServiceUrls">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleProviders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehiclePools">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MobileAppInfoServiceImplService">
<port name="MobileAppInfoServicePort" binding="tns:MobileAppInfoServicePortBinding">
<soap:address location="https://imob-dev.nttdata-emea.com:8103/WebService/MobileAppInfoService"/>
</port>
</service>
</definitions>